* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Righteous", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #c2cdd3;
    overflow: hidden;
}

.card {
    width: 8vw; /* A largura da carta será 20% da largura da tela */
    height: 8vw; /* A altura da carta será 20% da largura da tela (proporcional) */
    max-width: 150px; /* Limite máximo para cartas grandes */
    max-height: 150px; /* Limite máximo para cartas grandes */
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card_back, .card_front {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.45);
    backface-visibility: hidden;
}

.flip {
    transform: rotateY(180deg);
}

.card_front {
    background-color: #101c2c;
    transform: rotateY(180deg);
}

.card_back {
    background-color: #05c3ff;
    font-size: 2vw; /* A fonte é proporcional ao tamanho da tela */
    color: #101c2c;
}

#gameOver {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    font-size: 5vw; /* Fonte proporcional */
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
}

#restart {
    padding: 2vw;
    font-size: 2vw;
    background-color: yellow;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

#gameBoard {
    max-width: 90vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    gap: 1vw;
}

/* Ajustes para telas pequenas */
@media (max-width: 600px) {
    .card {
        width: 25vw;
        height: 25vw;
    }

    #gameBoard {
        grid-template-columns: repeat(3, 1fr);
    }
}
